[Desktop Entry]
Name=spider_test
Exec=/home/pi/Desktop/SpiderPiRobot/run.sh
Terminal=true
MultipleArgs=false
Type=Application
Categories=Application
StartupNotify=true
